<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDJppkKm6Jv-QonZMC41flf1jtm8nNIOZE</string>
	<key>GCM_SENDER_ID</key>
	<string>352852270923</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.r2scareer</string>
	<key>PROJECT_ID</key>
	<string>r2scareer-9f59b</string>
	<key>STORAGE_BUCKET</key>
	<string>r2scareer-9f59b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:352852270923:ios:e1f57133ecbd4d926152ce</string>
</dict>
</plist>